<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<%= javascript_pack_tag "in" %>
<%= javascript_pack_tag "search" %>

<script>
    if (('webkitSpeechRecognition' in window)) {
        console.log("webkit in window");
        var recognition = new webkitSpeechRecognition();

        recognition.continuous = true;
        recognition.interimResults = true;
        recognition.lang = "en";
        recognition.onresult = function (event) {
            for (var i = event.resultIndex; i < event.results.length; ++i) {
                if (event.results[i].isFinal) {
                    document.getElementById("level").value = document.getElementById("level").value + event.results[i][0].transcript;
                }
            }
        };
    }
</script>

<body>
<header>
    <div class="title">
        <h1 id="user_email" style="display: none"><%= current_user.email %></h1>
        <h1>Start to build my PC</h1>
    </div>
 </header>

<div class="row">
    <div class="column" id="searchArea">
        <label for="level">Enter your level (gamer, common user, student)</label>
        <div>
            <input type="text" id="level" name="search-level">
        </div>
        <label for="budget">Enter your budget</label>
        <div>
            <input type="text" id="budget" name="search-budget">
        </div>
        <label for="email">Enter your email</label>
        <div>
            <input type="text" id="email" name="search-email">
        </div>
        <input class="btn" type="button" id="submit" value="Search" onclick="submitChat()">
    </div>

    <div class="column" id="topSets">
        <p id="top_header">
            <i class="fa fa-trophy" style="color: rgb(212, 155, 12)"></i> Top Hits
            <i class="fa fa-trophy" style="color: rgb(212, 155, 12)"></i>
        </p>
        <div id="top_hardware_info">
            <b>Top CPU: </b>
            <div id="top_CPU"></div>
            <b>Top GPU: </b>
            <div id="top_GPU"></div>
            <b>Top RAM: </b>
            <div id="top_RAM"></div>
            <b>Top SSD: </b>
            <div id="top_SSD"></div>
            <b>Top HDD: </b>
            <div id="top_HDD"></div>
            <b>Top USB: </b>
            <div id="top_USB"></div>
        </div>
        
        
    </div>
</div>

<div class="recommendations">
    <h2>Here is our recommendations: (More results are send to your email)</h2>
    <div id="hardware_info"></div>
    <b>CPU: </b>
    <div id="CPU"><br></div>
    <b>GPU: </b>
    <div id="GPU"><br></div>
    <b>RAM: </b>
    <div id="RAM"><br></div>
    <b>SSD: </b>
    <div id="SSD"><br></div>
    <b>HDD: </b>
    <div id="HDD"><br></div>
    <b>USB: </b>
    <div id="USB"><br></div>
    <button class="btn" id="save" onclick="saveResult()">Save</button>
    <button class="btn" id="like" onclick="likeResult()" style="margin-left:14px">Like this result</button>
</div>

</body>

<footer>
    <div class="copyright">
        By Ruihan Yu, Junqi Zhang, Yuanqi Dan, Tracy Li, Jiawen Li, Yuerong Zhang, Chang Gao.
    </div>
</footer>
</html>