/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    background-color: #f2e3cf; 
  }
  
  header {
    position: relative;
    width: 100%;
    margin-top: 100px;
  }
  
  nav {
    border-bottom: 1.5px solid #f2e3cf; 
    height: 60px;
  }
  .title {
    margin: 100px;
    margin-bottom: auto;
    padding: 10px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }
  
  .row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    position: relative;
  }
  
  .column {
    margin: 50px;
    margin-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
    width: 40%;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  #searchArea {
    float: left;
  }
  
  #level, #budget, #email {
    height: 25px;
    width: 500px;
  }
  
  #topSets {
    float: right;
    font-weight: bold;
    font-style: italic;
  }
  
  #top_hardware_info {
    font-weight: normal;
    font-size: 15px;
  }
  
  #top_header {
    font-style: normal;
    font-family: 'Ubuntu', sans-serif;
  }
  
  #level, #budget, #email {
    margin-bottom: 10px;
  }
  
  #submit {
    background-color: burlywood;
  }
  
  .recommendations {
    margin: 50px;
    margin-bottom: 60px;
    padding: 50px;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  #hardware_info {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
  }
  
  #like {
    background-color: burlywood;
  }

  #save {
    background-color: burlywood;
  }
  
  .copyright {
    display:block;
    margin-top: 100px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }